{
    "useTabs": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 125,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "pluginSearchDirs": [
        "."
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}