@import url('./mixins.less');

// Core styles for entire app
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #8A1A23;
    --secondary: #033B52;
    --background-color: #faf7f2;
    --toggleBg: #ffffff;
    --toggleText: #000000;
    --global-easing: cubic-bezier(0.85, 0, 0.15, 1);
    --heading-color: #212121;
    --global-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

@primaryColor: #8A1A23;
@secondaryColor: #033B52;

/* Mona Sans */
@font-face {
    font-family: 'Mona Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('/fonts/Mona-Sans-Regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/Mona-Sans-Regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Mona Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
        url('/fonts/Mona-Sans-Medium.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/Mona-Sans-Medium.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Mona Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
        url('/fonts/Mona-Sans-SemiBold.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/Mona-Sans-SemiBold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Mona Sans';
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    background-color: var(--background-color);
    font-weight: 400;

    @media (min-width: 1300px) {
        font-size: 20px;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* ===============================================
	.screenreader 
	a11y support for descriptive text on vaguely worded buttons
	https://gomakethings.com/hidden-content-for-better-a11y/#hidden-labels
=============================================== */
.screenreader {
    white-space: nowrap;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: var(--heading-color);
    text-transform: capitalize;
    line-height: 1;
}

p {
    line-height: 1.2;
}

.btn {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--primary);
    color: #fff;
    font-size: (15/20em);
    line-height: (40/15);
    transition: background-color .33s ease;

    svg {
        display: inline-block;
        vertical-align: middle;
        width: (15/15em);
        height: auto;
        margin-left: (10/15em);
        color: #fff;
        transition: transform .33s ease;

        path.rect {
            opacity: 0;
            transition: opacity .33s ease;
        }
    }

    &:hover {
        background-color: var(--secondary);

        svg {
            transform: translateX(.25em);

            path.rect {
                opacity: 1;
            }
        }
    }
}